/* Add a background color and some padding around the form */
.container-contact {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 50px;
  margin: 0;
  width: 100%;
  display: block;
  font-family: "Quicksand", sans-serif !important;
  font-weight: 500 !important;
}

@media (max-width: 578px) {
  .container-contact {
    padding: 30px;
  }
}

label {
  font-weight: bold;
}

h1 {
  margin-top: 90px;
  font-weight: bold;
  color: white;
}
